<div class="marvel-container">
  <header class="marvel-header">
    <h1>Catálogo Marvel</h1>
    <p>Explore o universo dos heróis da Marvel</p>
  </header>
  
  @if (loading()) {
  <app-loading></app-loading>
  } 
  
  <div class="marvel-controls mt-4">
    <p-autoComplete
      [suggestions]="filteredHeroes"
      (completeMethod)="searchHeroes($event)"
      field="name"
      (onSelect)="onHeroSelected($event)"
      placeholder="Buscar herói..."
      class="marvel-autocomplete"
      (onClear)="onClear()"
    >
      <ng-template pTemplate="dropdownicon">
        <i class="pi pi-search"></i>
      </ng-template>
    </p-autoComplete>

    <button
      pButton
      icon="pi pi-plus"
      (click)="openDialog()"
      label="Novo"
    ></button>
  </div>

  <div class="heroes-grid">
    @for (heroe of heroesListPaginator(); track $index) {
    <app-card
      [heroe]="heroe"
      (deleteChange)="delete($event)"
      (updateChange)="openDialog($event)"
    ></app-card>
    }
  </div>

  <p-paginator
    [rows]="10"
    [totalRecords]="totalPaginator()"
    (onPageChange)="paginate($event)"
    class="marvel-paginator"
  ></p-paginator>
</div>
